In [2]:
import pandas as pd

# Load the Excel file
file_path = 'C:/Users/hp/OneDrive/Desktop/Jumbo.xlsx'
df = pd.read_excel(file_path)

# Define fiscal year date ranges in the specified format
fy23_start_date = pd.Timestamp('7/1/2022 12:00:00 AM')
fy23_end_date = pd.Timestamp('6/30/2023 12:00:00 AM')
fy24_start_date = pd.Timestamp('7/1/2023 12:00:00 AM')
fy24_end_date = pd.Timestamp('6/30/2024 12:00:00 AM')

# Initialize total sales for each fiscal year
total_sales_fy23 = 0
total_sales_fy24 = 0

# List of date columns
date_columns = df.columns[3:]

# Iterate over each date column
for date_column in date_columns:
    # Convert date column name to datetime
    date = pd.to_datetime(date_column, format='%m/%d/%Y %I:%M:%S %p')
    
    # Check if the column is within the FY23 date range
    if fy23_start_date <= date <= fy23_end_date:
        total_sales_fy23 += df[date_column].sum()
    # Check if the column is within the FY24 date range
    elif fy24_start_date <= date <= fy24_end_date:
        total_sales_fy24 += df[date_column].sum()

# Print total sales for each fiscal year for Jumbo tickets
print('Total Sales for Jumbo Tickets for FY23:')
print(total_sales_fy23)
print('\nTotal Sales for Jumbo Tickets for FY24:')
print(total_sales_fy24)

Total Sales for Jumbo Tickets for FY23:
1210765901.0

Total Sales for Jumbo Tickets for FY24:
1120976441.0

In [7]:
import pandas as pd

# Load the Excel file
file_path = 'C:/Users/hp/OneDrive/Desktop/Jumbo.xlsx'
df = pd.read_excel(file_path)

# Display the column names and the first few rows
print(df.columns)
print(df.head())

Index([      'Game Number',         'Game Name',       'Price Point',
       2022-07-02 00:00:00, 2022-07-09 00:00:00, 2022-07-16 00:00:00,
       2022-07-23 00:00:00, 2022-07-30 00:00:00, 2022-08-06 00:00:00,
       2022-08-13 00:00:00,
       ...
       2024-03-30 00:00:00, 2024-04-06 00:00:00, 2024-04-13 00:00:00,
       2024-04-20 00:00:00, 2024-04-27 00:00:00, 2024-05-04 00:00:00,
       2024-05-11 00:00:00, 2024-05-18 00:00:00, 2024-05-25 00:00:00,
       2024-06-01 00:00:00],
      dtype='object', length=105)
   Game Number              Game Name Price Point  2022-07-02 00:00:00  \
0          802       JUMBO BUCKS 300X         $30            1591530.0
1          851     JUNIOR JUMBO BUCKS          $1             523757.0
2          853       Lady JUMBO BUCKS          $3             663912.0
3          854      JUMBO BUCKS BINGO          $3             215349.0
4          856  JUMBO BUCKS CROSSWORD          $3             312186.0

   2022-07-09 00:00:00  2022-07-16 00:00:00  2022-07-23 00:00:00  \
0            1465950.0            1498440.0            1562430.0
1             464298.0             439245.0             303717.0
2             294687.0             166920.0             126549.0
3             165921.0             164682.0             193383.0
4             251619.0             249435.0             262485.0

   2022-07-30 00:00:00  2022-08-06 00:00:00  2022-08-13 00:00:00  ...  \
0            1652160.0            1603140.0            1533840.0  ...
1             160080.0             102346.0              63101.0  ...
2             108837.0              92625.0              69858.0  ...
3             193689.0             210024.0             179991.0  ...
4             273324.0             292821.0             257625.0  ...

   2024-03-30 00:00:00  2024-04-06 00:00:00  2024-04-13 00:00:00  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3             155493.0             172977.0             165792.0
4             254772.0             279171.0             253983.0

   2024-04-20 00:00:00  2024-04-27 00:00:00  2024-05-04 00:00:00  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3             165084.0             159618.0             151614.0
4             252069.0             237219.0             257199.0

   2024-05-11 00:00:00  2024-05-18 00:00:00  2024-05-25 00:00:00  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3             169338.0             165348.0             165672.0
4             237585.0             239712.0             227934.0

   2024-06-01 00:00:00
0                  NaN
1                  NaN
2                  NaN
3             152517.0
4             218193.0

[5 rows x 105 columns]

In [5]:
import pandas as pd
import matplotlib.pyplot as plt

# Load the Excel file
file_path = 'C:/Users/hp/OneDrive/Desktop/Jumbo.xlsx'
df = pd.read_excel(file_path)

# Display the first few rows to understand its structure
print(df.head())

# Define fiscal year start and end dates
fy23_start_date = pd.Timestamp('7/1/2022 12:00:00 AM')
fy23_end_date = pd.Timestamp('6/30/2023 12:00:00 AM')
fy24_start_date = pd.Timestamp('7/1/2023 12:00:00 AM')
fy24_end_date = pd.Timestamp('6/30/2024 12:00:00 AM')

# Extract the price from the TicketName column
df['Price Point'] = df['Game Name'].str.extract(r'\$(\d+)').astype(float)

# Initialize dictionaries to store total sales for each price category
total_sales_fy23 = {}
total_sales_fy24 = {}

# Get the date columns
date_columns = df.columns[2:]

# Iterate over each date column to calculate total sales for each fiscal year and price category
for date_column in date_columns:
    # Convert specific date column to datetime format
    df[date_column] = pd.to_datetime(df[date_column], format='%m/%d/%Y %I:%M:%S %p', errors='coerce')
    
    # Filter data for FY23 and FY24
    df_fy23 = df[(df[date_column] >= fy23_start_date) & (df[date_column] <= fy23_end_date)]
    df_fy24 = df[(df[date_column] >= fy24_start_date) & (df[date_column] <= fy24_end_date)]
    
    # Sum the prices for FY23 and FY24 for each price category
    for price in df['Price Point'].unique():
        if price not in total_sales_fy23:
            total_sales_fy23[price] = 0
        if price not in total_sales_fy24:
            total_sales_fy24[price] = 0
        total_sales_fy23[price] += df_fy23[df_fy23['Price Point'] == price][date_column].sum()
        total_sales_fy24[price] += df_fy24[df_fy24['Price Point'] == price][date_column].sum()

# Display the total sales for each price category for FY23 and FY24
print('Total Sales for FY23 by Price Category:')
print(total_sales_fy23)
print('\nTotal Sales for FY24 by Price Category:')
print(total_sales_fy24)

# Visualize the results using matplotlib
price_categories = list(total_sales_fy23.keys())
total_sales_fy23_values = list(total_sales_fy23.values())
total_sales_fy24_values = list(total_sales_fy24.values())

fig, ax = plt.subplots()
bar_width = 0.35
index = range(len(price_categories))

bar1 = ax.bar(index, total_sales_fy23_values, bar_width, label='FY23')
bar2 = ax.bar([i + bar_width for i in index], total_sales_fy24_values, bar_width, label='FY24')

ax.set_xlabel('Price Category')
ax.set_ylabel('Total Sales')
ax.set_title('Total Sales by Price Category for FY23 and FY24')
ax.set_xticks([i + bar_width / 2 for i in index])
ax.set_xticklabels(price_categories)
ax.legend()

plt.show()

   Game Number              Game Name Price Point  2022-07-02 00:00:00  \
0          802       JUMBO BUCKS 300X         $30            1591530.0
1          851     JUNIOR JUMBO BUCKS          $1             523757.0
2          853       Lady JUMBO BUCKS          $3             663912.0
3          854      JUMBO BUCKS BINGO          $3             215349.0
4          856  JUMBO BUCKS CROSSWORD          $3             312186.0

   2022-07-09 00:00:00  2022-07-16 00:00:00  2022-07-23 00:00:00  \
0            1465950.0            1498440.0            1562430.0
1             464298.0             439245.0             303717.0
2             294687.0             166920.0             126549.0
3             165921.0             164682.0             193383.0
4             251619.0             249435.0             262485.0

   2022-07-30 00:00:00  2022-08-06 00:00:00  2022-08-13 00:00:00  ...  \
0            1652160.0            1603140.0            1533840.0  ...
1             160080.0             102346.0              63101.0  ...
2             108837.0              92625.0              69858.0  ...
3             193689.0             210024.0             179991.0  ...
4             273324.0             292821.0             257625.0  ...

   2024-03-30 00:00:00  2024-04-06 00:00:00  2024-04-13 00:00:00  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3             155493.0             172977.0             165792.0
4             254772.0             279171.0             253983.0

   2024-04-20 00:00:00  2024-04-27 00:00:00  2024-05-04 00:00:00  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3             165084.0             159618.0             151614.0
4             252069.0             237219.0             257199.0

   2024-05-11 00:00:00  2024-05-18 00:00:00  2024-05-25 00:00:00  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3             169338.0             165348.0             165672.0
4             237585.0             239712.0             227934.0

   2024-06-01 00:00:00
0                  NaN
1                  NaN
2                  NaN
3             152517.0
4             218193.0

[5 rows x 105 columns]

TypeError: 'DatetimeArray' with dtype datetime64[ns] does not support reduction 'sum'